@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --image-0: url(./graphics/graphics0.png);
  --image-1: url(./graphics/graphics1.png);
  --image-2: url(./graphics/graphics2.png);
  --image-3: url(./graphics/graphics3.png);
  --image-4: url(./graphics/graphics4.png);
  --image-5: url(./graphics/graphics5.png);
  --image-6: url(./graphics/graphics6.png);
  --image-7: url(./graphics/graphics7.png);
  --image-8: url(./graphics/graphics8.png);
  --image-9: url(./graphics/graphics9.png);
  --image-10: url(./graphics/graphics10.png);
  --image-11: url(./graphics/graphics11.png);
  --image-12: url(./graphics/graphics12.png);
  --image-13: url(./graphics/graphics13.png);
  --image-14: url(./graphics/graphics14.png);
  --image-15: url(./graphics/graphics15.png);
  --image-16: url(./graphics/graphics16.png);
  --image-17: url(./graphics/graphics17.png);
  --image-18: url(./graphics/graphics18.png);
  --image-19: url(./graphics/graphics19.png);
  --image-20: url(./graphics/graphics20.png);
  --custom-width: 100vw;
  --design-width: 1440;
  --ratio: calc(var(--custom-width) / var(--design-width));
}

/* Default classes */
.pos-abs {
  position: absolute;
}
.fill-parent {
  width: 100%;
  height: 100%;
}
.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-auto {
  background-size: auto;
}
.bg-crop {
  background-size: 100% 100%;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.pos-init {
  top: 0px;
  left: 0px;
}
.image-div {
  background-color: transparent;
  background-position: center;
}
/* Default classes end */

/* Default classes */
.pos-abs {
  position: absolute;
}
.fill-parent {
  width: 100%;
  height: 100%;
}
.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-auto {
  background-size: auto;
}
.bg-crop {
  background-size: 100% 100%;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.pos-init {
  top: 0px;
  left: 0px;
}
.image-div {
  background-color: transparent;
  background-position: center;
}
/* Default classes end */
body {
  margin: 0px 0px;
  padding: 0px;
}
.parent-div {
  position: relative;
  width: var(--custom-width);
  height: calc(4189 * var(--ratio));
  overflow: hidden;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.concern-details-page {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  background: transparent;
}
.top-bar {
  width: 100%;
  height: 1.19%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  background: #ffffffff;
}
.top-bar-content,
.nav-content {
  width: 88.89%;
  height: 60%;
  top: 20%;
  left: 5.56%;
  z-index: 0;
  transform: rotate(0deg);
}
.contact-info {
  width: 49.92%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.business-hours {
  width: 50.23%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.clock-icon {
  width: 5.61%;
  height: 60%;
  top: 20%;
  left: 3.74%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-29326750 {
  opacity: 1;
  background-image: var(--image-0);
}
.clock-icon-vector {
  width: 70.83%;
  height: 70.83%;
  top: 14.58%;
  left: 14.58%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.business-hours-text {
  width: 85.67%;
  height: 60%;
  top: 20%;
  left: 10.59%;
  z-index: 1;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.business-hours-text-span,
.phone-number-span,
.email-address-span {
  font-size: calc(12 * var(--ratio));

  line-height: calc(18 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #001830ff;
}
.phone-info {
  width: 23.16%;
  height: 100%;
  top: 0%;
  left: 50.23%;
  z-index: 1;
  transform: rotate(0deg);
}
.phone-icon {
  width: 12.16%;
  height: 60%;
  top: 20%;
  left: 8.11%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-29326754 {
  opacity: 1;
  background-image: var(--image-1);
}
.phone-icon-vector,
.footer-social-icon-facebook-alt-path,
.footer-social-icon-linkedin-path,
.footer-social-icon-instagram-vector {
  width: 75%;
  height: 75%;
  top: 12.5%;
  left: 12.5%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.phone-number {
  width: 68.92%;
  height: 60%;
  top: 20%;
  left: 22.97%;
  z-index: 1;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.email-info {
  width: 26.6%;
  height: 100%;
  top: 0%;
  left: 73.4%;
  z-index: 2;
  transform: rotate(0deg);
}
.email-icon {
  width: 10.59%;
  height: 60%;
  top: 20%;
  left: 7.06%;
  z-index: 0;
  transform: rotate(0deg) scaleX(-1);
  overflow: hidden;
}
.nodeBg-29326758 {
  opacity: 1;
  background-image: var(--image-2);
}
.email-icon-vector {
  width: 83.33%;
  height: 66.67%;
  top: 16.67%;
  left: 8.33%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.email-address {
  width: 72.94%;
  height: 60%;
  top: 20%;
  left: 20%;
  z-index: 1;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.social-icons {
  width: 18.23%;
  height: 86.67%;
  top: 6.67%;
  left: 81.77%;
  z-index: 1;
  transform: rotate(0deg);
}
.social-icon-facebook {
  width: 9.73%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.social-icon-facebook-inner,
.footer-social-icon-facebook-inner {
  width: 76.92%;
  height: 76.92%;
  top: 11.54%;
  left: 10.45%;
  z-index: 0;
  transform: rotate(0deg);
}
.nodeBg-29326763 {
  opacity: 1;
  background-image: var(--image-3);
}
.social-icon-facebook-vector,
.social-icon-twitter-path,
.footer-social-icon-facebook-vector,
.footer-social-icon-twitter-path {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.social-icon-facebook-alt {
  width: 11.14%;
  height: 100%;
  top: 0%;
  left: 34.58%;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-29326769 {
  opacity: 1;
  background-image: var(--image-4);
}
.social-icon-facebook-alt-path,
.social-icon-linkedin-path,
.social-icon-instagram-vector {
  width: 69.23%;
  height: 69.23%;
  top: 15.38%;
  left: 15.38%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.social-icon-linkedin {
  width: 11.14%;
  height: 100%;
  top: 0%;
  left: 52.58%;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-29326771 {
  opacity: 1;
  background-image: var(--image-5);
}
.social-icon-instagram {
  width: 11.14%;
  height: 100%;
  top: 0%;
  left: 88.86%;
  z-index: 5;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-29326775 {
  opacity: 1;
  background-image: var(--image-6);
}
.social-icon-x {
  width: 11.43%;
  height: 92.31%;
  top: 3.85%;
  left: 70.58%;
  z-index: 4;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-29326773 {
  opacity: 1;
  background-image: var(--image-7);
}
.social-icon-x-vector,
.footer-social-icon-x-vector {
  width: 70%;
  height: 66.67%;
  top: 16.67%;
  left: 15%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.social-icon-twitter {
  width: 11.14%;
  height: 70.21%;
  top: 14.89%;
  left: 16.59%;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.social-icon-twitter-inner,
.banner-text,
.footer-credits,
.footer-social-icon-twitter-inner {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.social-icon-twitter-group,
.footer-social-icon-twitter-group {
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.nodeBg-29326767 {
  opacity: 1;
  background-image: var(--image-8);
}
.navigation {
  width: 100%;
  height: 1.91%;
  top: 1.19%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
  background: #001830ff;
}
.nodeBg-I29326776_29322292,
.nodeBg-29326787,
.nodeBg-29326792,
.nodeBg-29326800,
.nodeBg-29326802 {
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  opacity: 1;
}
.logo {
  width: 21.09%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.book-appointment-button {
  width: 17.34%;
  height: 100%;
  top: 0%;
  left: 82.66%;
  z-index: 3;
  transform: rotate(0deg);
  border-radius: 50px;
  background: #ffffffff;
}
.book-appointment-text {
  width: 78.38%;
  height: 50%;
  top: 25%;
  left: 10.81%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.book-appointment-text-span,
.footer-newsletter-submit-text-span {
  font-size: calc(16 * var(--ratio));

  line-height: calc(24 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #001830ff;
}
.nav-icons {
  width: 9.84%;
  height: 91.67%;
  top: 4.17%;
  left: 71.56%;
  z-index: 2;
  transform: rotate(0deg);
}
.search-icon {
  width: 34.92%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.search-icon-svg {
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  z-index: 0;
  transform: rotate(0deg);
}
.nodeBg-I29326776_29322313 {
  opacity: 1;
  background-image: var(--image-9);
}
.search-icon-outer {
  width: 69.29%;
  height: 69.29%;
  top: 10.87%;
  left: 10.88%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  box-sizing: border-box;
}
.nodeBg-I29326776_29322314 {
  opacity: 1;
  background-image: var(--image-10);
}
.search-icon-inner {
  width: 24.68%;
  height: 24.68%;
  top: 64.45%;
  left: 64.45%;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  box-sizing: border-box;
}
.language-selector {
  width: 52.38%;
  height: 81.82%;
  top: 9.09%;
  left: 47.62%;
  z-index: 2;
  transform: rotate(0deg);
}
.language-selector-text {
  width: 30.3%;
  height: 66.67%;
  top: 16.67%;
  left: 18.18%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.language-selector-text-span,
.nav-item-concerns-text-span,
.nav-item-services-text-span,
.nav-item-specials-text-span,
.nav-item-company-text-span,
.contact-form-submit-text-span {
  font-size: calc(16 * var(--ratio));

  line-height: calc(24 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}
.language-selector-icon {
  width: 27.27%;
  height: 50%;
  top: 25%;
  left: 54.55%;
  z-index: 1;
  transform: rotate(-180deg);
  overflow: hidden;
}
.nodeBg-I29326776_29322319 {
  opacity: 1;
  background-image: var(--image-11);
}
.language-selector-icon-vector {
  width: 48.96%;
  height: 28.13%;
  top: 38.02%;
  left: 25.52%;
  z-index: 0;
  transform: rotate(180deg);
  transform-origin: 24.48% 11.98%;
  overflow: hidden;
  box-sizing: border-box;
}
.nav-separator {
  width: 19.05%;
  height: 0%;
  top: 50%;
  left: 31.75%;
  z-index: 1;
  transform: rotate(90deg);
  box-shadow: inset 0 0 0 0.5px #ffffff29, inset 0 0 0.5px 0 #ffffff29,
    inset 0 0.5px 0 0 #ffffff29, inset 0.5px 0 0 0 #ffffff29;
  border-left: 0px solid #ffffff29;
  border-right: 0px solid #ffffff29;
  border-top: 0px solid #ffffff29;
  border-bottom: 0px solid #ffffff29;
}
.nav-menu {
  width: 47.97%;
  height: 75%;
  top: 12.5%;
  left: 22.34%;
  z-index: 1;
  transform: rotate(0deg);
}
.nav-item-concerns {
  width: 20.52%;
  height: 100%;
  top: 0%;
  left: 10.59%;
  z-index: 0;
  transform: rotate(0deg);
}
.nav-item-concerns-text {
  width: 61.9%;
  height: 66.67%;
  top: 16.67%;
  left: 9.52%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.nav-item-concerns-icon {
  width: 19.05%;
  height: 66.67%;
  top: 16.67%;
  left: 71.43%;
  z-index: 1;
  transform: rotate(-180deg);
  overflow: hidden;
}
.nodeBg-I29326776_29322297,
.nodeBg-I29326776_29322301,
.nodeBg-I29326776_29322305,
.nodeBg-I29326776_29322309 {
  opacity: 1;
  background-image: var(--image-12);
}
.nav-item-concerns-icon-vector,
.nav-item-services-icon-vector,
.nav-item-specials-icon-vector,
.nav-item-company-icon-vector {
  width: 47.92%;
  height: 27.08%;
  top: 38.54%;
  left: 26.04%;
  z-index: 0;
  transform: rotate(180deg);
  transform-origin: 23.96% 11.46%;
  overflow: hidden;
  box-sizing: border-box;
}
.nav-item-services {
  width: 18.73%;
  height: 100%;
  top: 0%;
  left: 31.11%;
  z-index: 1;
  transform: rotate(0deg);
}
.nav-item-services-text,
.nav-item-specials-text {
  width: 58.26%;
  height: 66.67%;
  top: 16.67%;
  left: 10.43%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.nav-item-services-icon,
.nav-item-specials-icon {
  width: 20.87%;
  height: 66.67%;
  top: 16.67%;
  left: 68.7%;
  z-index: 1;
  transform: rotate(-180deg);
  overflow: hidden;
}
.nav-item-specials {
  width: 18.73%;
  height: 100%;
  top: 0%;
  left: 49.84%;
  z-index: 2;
  transform: rotate(0deg);
}
.nav-item-company {
  width: 20.85%;
  height: 100%;
  top: 0%;
  left: 68.57%;
  z-index: 3;
  transform: rotate(0deg);
}
.nav-item-company-text {
  width: 62.5%;
  height: 66.67%;
  top: 16.67%;
  left: 9.38%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.nav-item-company-icon {
  width: 18.75%;
  height: 66.67%;
  top: 16.67%;
  left: 71.88%;
  z-index: 1;
  transform: rotate(-180deg);
  overflow: hidden;
}
.nodeBg-29326777 {
  background-position: center;
  background-repeat: no-repeat;
  width: calc(1441 * var(--ratio));
  height: calc(960.7656699235333 * var(--ratio));
  left: calc(6.394884621840902e-13 * var(--ratio));
  top: calc(-570.8828032870313 * var(--ratio));
  object-fit: cover;
  opacity: 1;
}
.banner {
  width: 100%;
  height: 7.11%;
  top: 3.1%;
  left: 0%;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
}
.banner-content {
  width: 88.89%;
  height: 32.89%;
  top: 33.56%;
  left: 5.56%;
  z-index: 0;
  transform: rotate(0deg);
}
.breadcrumb,
.contact-form-subheading,
.faq-subheading {
  width: 100%;
  height: 24.49%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.breadcrumb-span,
.concern-description-paragraph-1-span,
.concern-description-paragraph-2-span,
.concern-feature-description-span,
.concern-feature-alt-description-span,
.concern-feature-2-description-span {
  font-size: calc(16 * var(--ratio));

  line-height: calc(24 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.page-title {
  width: 48.98%;
  height: 59.18%;
  top: 40.82%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.page-title-span,
.concern-title-span,
.contact-form-title-span,
.faq-title-span {
  font-size: calc(48 * var(--ratio));

  line-height: calc(57.60000228881836 * var(--ratio));

  font-family: Poppins;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.concern-details {
  width: 100%;
  height: 48.36%;
  top: 10.22%;
  left: 0%;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
  background: #ffffffff;
}
.concern-heading {
  width: 88.89%;
  height: 4.84%;
  top: 2.96%;
  left: 5.56%;
  z-index: 0;
  transform: rotate(0deg);
}
.concern-subheading {
  width: 100%;
  height: 24.49%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.concern-subheading-span,
.contact-form-subheading-span {
  font-size: calc(16 * var(--ratio));

  line-height: calc(24 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: uppercase;
  white-space: pre-wrap;
  color: #001830ff;
}
.concern-title {
  width: 100%;
  height: 59.18%;
  top: 40.82%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.concern-image {
  width: 88.89%;
  height: 24.68%;
  top: 9.77%;
  left: 5.56%;
  z-index: 1;
  transform: rotate(0deg);
}
.concern-image-placeholder {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 16px;
}
.concern-description {
  width: 88.89%;
  height: 10.27%;
  top: 36.43%;
  left: 5.56%;
  z-index: 2;
  transform: rotate(0deg);
}
.concern-description-paragraph-1 {
  width: 100%;
  height: 46.15%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.concern-description-paragraph-2 {
  width: 100%;
  height: 46.15%;
  top: 53.85%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.concern-feature {
  width: 88.89%;
  height: 14.81%;
  top: 48.67%;
  left: 5.56%;
  z-index: 3;
  transform: rotate(0deg);
}
.concern-feature-image,
.concern-feature-2-image {
  width: 39.06%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 24px;
}
.concern-feature-content,
.concern-feature-2-content {
  width: 57.81%;
  height: 72.67%;
  top: 13.67%;
  left: 42.19%;
  z-index: 1;
  transform: rotate(0deg);
}
.concern-feature-title,
.concern-feature-alt-title,
.concern-feature-2-title {
  width: 100%;
  height: 15.6%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.concern-feature-title-span,
.concern-feature-alt-title-span,
.concern-feature-2-title-span {
  font-size: calc(24 * var(--ratio));

  line-height: calc(33.59999942779541 * var(--ratio));

  font-family: Poppins;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.concern-feature-description,
.concern-feature-alt-description,
.concern-feature-2-description {
  width: 100%;
  height: 77.06%;
  top: 22.94%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.concern-feature-alt {
  width: 88.89%;
  height: 14.81%;
  top: 65.45%;
  left: 5.56%;
  z-index: 4;
  transform: rotate(0deg);
}
.concern-feature-alt-image {
  width: 39.06%;
  height: 100%;
  top: 0%;
  left: 60.94%;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 24px;
}
.concern-feature-alt-content {
  width: 57.81%;
  height: 72.67%;
  top: 13.67%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.concern-feature-2 {
  width: 88.89%;
  height: 14.81%;
  top: 82.23%;
  left: 5.56%;
  z-index: 5;
  transform: rotate(0deg);
}
.contact-section {
  width: 100%;
  height: 18.14%;
  top: 58.58%;
  left: 0%;
  z-index: 4;
  transform: rotate(0deg);
  overflow: hidden;
  background: #ffffffff;
}
.contact-content {
  width: 91.11%;
  height: 84.21%;
  top: 7.89%;
  left: 4.44%;
  z-index: 0;
  transform: rotate(0deg);
}
.nodeBg-29326831 {
  background-position: center;
  background-repeat: no-repeat;
  width: calc(643 * var(--ratio));
  height: calc(1014.9278859723531 * var(--ratio));
  left: calc(0 * var(--ratio));
  top: calc(-3.9639735812998826 * var(--ratio));
  object-fit: cover;
  opacity: 1;
}
.contact-image {
  width: 48.93%;
  height: 100%;
  top: 0%;
  left: 51.07%;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 24px;
}
.contact-form {
  width: 46.49%;
  height: 80.63%;
  top: 9.69%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.contact-form-heading {
  width: 100%;
  height: 18.99%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.contact-form-title {
  width: 100%;
  height: 59.18%;
  top: 40.82%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.contact-form-name-row {
  width: 100%;
  height: 9.69%;
  top: 23.64%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
}
.contact-form-first-name,
.contact-form-email {
  width: 48.69%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 8px;
  box-sizing: border-box;
  border-left: 1px solid #0000003d;
  border-right: 1px solid #0000003d;
  border-top: 1px solid #0000003d;
  border-bottom: 1px solid #0000003d;
}
.contact-form-first-name-placeholder,
.contact-form-last-name-placeholder {
  width: 25.25%;
  height: 42%;
  top: 29%;
  left: 5.39%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.contact-form-first-name-placeholder-span,
.contact-form-last-name-placeholder-span,
.contact-form-email-placeholder-span,
.contact-form-phone-placeholder-span,
.contact-form-message-placeholder-span {
  font-size: calc(14 * var(--ratio));

  line-height: calc(21 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #00000066;
}
.contact-form-last-name,
.contact-form-phone {
  width: 48.69%;
  height: 100%;
  top: 0%;
  left: 51.31%;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 8px;
  box-sizing: border-box;
  border-left: 1px solid #0000003d;
  border-right: 1px solid #0000003d;
  border-top: 1px solid #0000003d;
  border-bottom: 1px solid #0000003d;
}
.contact-form-contact-row {
  width: 100%;
  height: 9.69%;
  top: 37.98%;
  left: 0%;
  z-index: 2;
  transform: rotate(0deg);
}
.contact-form-email-placeholder {
  width: 12.79%;
  height: 42%;
  top: 29%;
  left: 5.39%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.contact-form-phone-placeholder {
  width: 14.81%;
  height: 42%;
  top: 29%;
  left: 5.39%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.contact-form-service-mode {
  width: 100%;
  height: 9.69%;
  top: 52.33%;
  left: 0%;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 8px;
  box-sizing: border-box;
  border-left: 1px solid #0000003d;
  border-right: 1px solid #0000003d;
  border-top: 1px solid #0000003d;
  border-bottom: 1px solid #0000003d;
}
.contact-form-service-mode-placeholder {
  width: 89.51%;
  height: 42%;
  top: 29%;
  left: 2.62%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.contact-form-service-mode-placeholder-span {
  font-size: calc(14 * var(--ratio));

  line-height: calc(21 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.contact-form-service-mode-icon {
  width: 3.28%;
  height: 40%;
  top: 30%;
  left: 94.1%;
  z-index: 1;
  transform: rotate(-180deg);
  overflow: hidden;
}
.nodeBg-29326825 {
  opacity: 1;
  background-image: var(--image-13);
}
.contact-form-service-mode-icon-vector,
.faq-item-toggle-icon,
.faq-item-alt-toggle-icon,
.faq-item-2-toggle-icon,
.faq-item-2-alt-toggle-icon,
.faq-item-3-toggle-icon,
.faq-item-3-alt-toggle-icon {
  width: 52.48%;
  height: 29.69%;
  top: 34.05%;
  left: 23.76%;
  z-index: 0;
  transform: rotate(180deg);
  transform-origin: 26.24% 15.95%;
  overflow: hidden;
  box-sizing: border-box;
}
.contact-form-message {
  width: 100%;
  height: 19.38%;
  top: 66.67%;
  left: 0%;
  z-index: 4;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 8px;
  box-sizing: border-box;
  border-left: 1px solid #0000003d;
  border-right: 1px solid #0000003d;
  border-top: 1px solid #0000003d;
  border-bottom: 1px solid #0000003d;
}
.contact-form-message-placeholder {
  width: 10.33%;
  height: 21%;
  top: 16%;
  left: 2.62%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.contact-form-submit {
  width: 23.61%;
  height: 9.3%;
  top: 90.7%;
  left: 0%;
  z-index: 5;
  transform: rotate(0deg);
}
.contact-form-submit-button {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 50px;
  background: #001830ff;
}
.contact-form-submit-text {
  width: 66.67%;
  height: 50%;
  top: 25%;
  left: 16.67%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.faq-section {
  width: 100%;
  height: 11.89%;
  top: 76.72%;
  left: 0%;
  z-index: 5;
  transform: rotate(0deg);
  overflow: hidden;
  background: #ffffffff;
}
.faq-heading {
  width: 88.89%;
  height: 19.68%;
  top: 12.05%;
  left: 5.56%;
  z-index: 0;
  transform: rotate(0deg);
}
.faq-subheading-span {
  font-size: calc(16 * var(--ratio));

  line-height: calc(24 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #001830ff;
}
.faq-content {
  width: 100%;
  height: 59.18%;
  top: 40.82%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
}
.faq-title {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.faq-description {
  width: 60%;
  height: 46.55%;
  top: 141.38%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
  display: none;
  text-align: center;
  line-height: 0px;
}
.faq-description-span {
  font-size: calc(18 * var(--ratio));

  line-height: calc(27 * var(--ratio));

  font-family: Roboto;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.faq-accordion {
  width: 88.89%;
  height: 48.19%;
  top: 39.76%;
  left: 5.56%;
  z-index: 1;
  transform: rotate(0deg);
}
.faq-item {
  width: 100%;
  height: 26.67%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.faq-item-content,
.faq-item-2-content,
.faq-item-3-content {
  width: 48.44%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  border-radius: 16px;
  box-sizing: border-box;
  border-left: 1px solid #0000003d;
  border-right: 1px solid #0000003d;
  border-top: 1px solid #0000003d;
  border-bottom: 1px solid #0000003d;
}
.faq-item-question,
.faq-item-alt-question,
.faq-item-2-question,
.faq-item-2-alt-question,
.faq-item-3-question,
.faq-item-3-alt-question {
  width: 92.26%;
  height: 100%;
  top: 0%;
  left: 3.87%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.faq-item-toggle,
.faq-item-alt-toggle,
.faq-item-2-toggle,
.faq-item-2-alt-toggle,
.faq-item-3-toggle,
.faq-item-3-alt-toggle {
  width: 5.59%;
  height: 50%;
  top: 25%;
  left: 94.41%;
  z-index: 1;
  transform: rotate(-180deg);
  overflow: hidden;
}
.nodeBg-29326844,
.nodeBg-29326851,
.nodeBg-29326859,
.nodeBg-29326866,
.nodeBg-29326874,
.nodeBg-29326881 {
  opacity: 1;
  background-image: var(--image-14);
}
.faq-item-question-text,
.faq-item-alt-question-text,
.faq-item-2-question-text,
.faq-item-2-alt-question-text,
.faq-item-3-question-text,
.faq-item-3-alt-question-text {
  width: 90.21%;
  height: 42.19%;
  top: 28.91%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.faq-item-question-text-span,
.faq-item-alt-question-text-span,
.faq-item-2-question-text-span,
.faq-item-2-alt-question-text-span,
.faq-item-3-question-text-span,
.faq-item-3-alt-question-text-span {
  font-size: calc(18 * var(--ratio));

  line-height: calc(27 * var(--ratio));

  font-family: Poppins;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.faq-item-answer,
.faq-item-alt-answer,
.faq-item-2-answer,
.faq-item-2-alt-answer,
.faq-item-3-answer,
.faq-item-3-alt-answer {
  width: 206.45%;
  height: 187.5%;
  top: 100%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
  display: none;
}
.faq-item-answer-text,
.faq-item-alt-answer-text,
.faq-item-2-answer-text,
.faq-item-2-alt-answer-text,
.faq-item-3-answer-text,
.faq-item-3-alt-answer-text {
  width: 60%;
  height: 80%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.faq-item-answer-text-span,
.faq-item-alt-answer-text-span,
.faq-item-2-answer-text-span,
.faq-item-2-alt-answer-text-span,
.faq-item-3-answer-text-span,
.faq-item-3-alt-answer-text-span {
  font-size: calc(16 * var(--ratio));

  line-height: calc(24 * var(--ratio));

  font-family: Helvetica Neue;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.faq-item-alt,
.faq-item-2-alt,
.faq-item-3-alt {
  width: 48.44%;
  height: 100%;
  top: 0%;
  left: 51.56%;
  z-index: 1;
  transform: rotate(0deg);
  border-radius: 16px;
  box-sizing: border-box;
  border-left: 1px solid #0000003d;
  border-right: 1px solid #0000003d;
  border-top: 1px solid #0000003d;
  border-bottom: 1px solid #0000003d;
}
.faq-item-2 {
  width: 100%;
  height: 26.67%;
  top: 36.67%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
}
.faq-item-3 {
  width: 100%;
  height: 26.67%;
  top: 73.33%;
  left: 0%;
  z-index: 2;
  transform: rotate(0deg);
}
.footer {
  width: 100%;
  height: 11.39%;
  top: 88.61%;
  left: 0%;
  z-index: 6;
  transform: rotate(0deg);
  overflow: hidden;
  background: #001830ff;
}
.footer-content {
  width: 88.89%;
  height: 51.99%;
  top: 12.58%;
  left: 5.56%;
  z-index: 0;
  transform: rotate(0deg);
}
.footer-links {
  width: 56.25%;
  height: 60.89%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.footer-logo {
  width: 37.5%;
  height: 31.79%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.footer-quick-links {
  width: 13.89%;
  height: 100%;
  top: 0%;
  left: 41.67%;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.footer-quick-links-title,
.footer-company-links-title,
.footer-support-title {
  width: 100%;
  height: 15.89%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.footer-quick-links-title-span,
.footer-company-links-title-span,
.footer-support-title-span,
.footer-newsletter-title-span {
  font-size: calc(16 * var(--ratio));

  line-height: calc(24 * var(--ratio));

  font-family: Poppins;
  font-weight: 600;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}
.footer-quick-links-list,
.footer-company-links-list,
.footer-support-list {
  width: 100%;
  height: 73.51%;
  top: 26.49%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
}
.footer-quick-link-concerns,
.footer-company-link-about,
.footer-support-phone {
  width: 100%;
  height: 33.33%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.footer-quick-link-concerns-text,
.footer-quick-link-services-text,
.footer-quick-link-specials-text,
.footer-company-link-about-text,
.footer-company-link-blogs-text,
.footer-company-link-contact-text,
.footer-support-phone-text,
.footer-support-email-text,
.footer-support-location-text {
  width: 100%;
  height: 56.76%;
  top: 21.62%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.footer-quick-link-concerns-text-span,
.footer-quick-link-services-text-span,
.footer-quick-link-specials-text-span,
.footer-company-link-about-text-span,
.footer-company-link-blogs-text-span,
.footer-company-link-contact-text-span,
.footer-support-phone-text-span,
.footer-support-email-text-span,
.footer-support-location-text-span,
.footer-newsletter-description-span,
.footer-newsletter-input-placeholder-span,
.footer-copyright-text-span,
.footer-privacy-policy-span,
.footer-terms-of-service-span,
.footer-cookies-settings-span {
  font-size: calc(14 * var(--ratio));

  line-height: calc(21 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}
.footer-quick-link-services,
.footer-company-link-blogs,
.footer-support-email {
  width: 100%;
  height: 33.33%;
  top: 33.33%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
}
.footer-quick-link-specials,
.footer-company-link-contact,
.footer-support-location {
  width: 100%;
  height: 33.33%;
  top: 66.67%;
  left: 0%;
  z-index: 2;
  transform: rotate(0deg);
}
.footer-company-links {
  width: 13.89%;
  height: 100%;
  top: 0%;
  left: 59.72%;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
}
.footer-support {
  width: 22.22%;
  height: 100%;
  top: 0%;
  left: 77.78%;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
.footer-newsletter {
  width: 39.06%;
  height: 74.6%;
  top: 0%;
  left: 60.94%;
  z-index: 1;
  transform: rotate(0deg);
}
.footer-newsletter-header {
  width: 100%;
  height: 32.97%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.footer-newsletter-title {
  width: 100%;
  height: 39.34%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.footer-newsletter-description {
  width: 100%;
  height: 34.43%;
  top: 65.57%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.footer-newsletter-form {
  width: 100%;
  height: 54.05%;
  top: 45.95%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
}
.footer-newsletter-input-group {
  width: 100%;
  height: 48%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.footer-newsletter-input {
  width: 71.2%;
  height: 93.75%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  border-radius: 12px;
  border-left: 1px solid #ffffffff;
  border-right: 1px solid #ffffffff;
  border-top: 1px solid #ffffffff;
  border-bottom: 1px solid #ffffffff;
}
.footer-newsletter-input-placeholder {
  width: 93.26%;
  height: 46.67%;
  top: 26.67%;
  left: 3.37%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.footer-newsletter-submit {
  width: 25.6%;
  height: 100%;
  top: 0%;
  left: 74.4%;
  z-index: 1;
  transform: rotate(0deg);
  border-radius: 50px;
  background: #ffffffff;
}
.footer-newsletter-submit-text {
  width: 62.5%;
  height: 50%;
  top: 25%;
  left: 18.75%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.footer-newsletter-disclaimer {
  width: 100%;
  height: 36%;
  top: 64%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.footer-newsletter-disclaimer-span,
.footer-newsletter-disclaimer-span-4 {
  font-size: calc(12 * var(--ratio));

  line-height: calc(18 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}
.footer-newsletter-disclaimer-span-1,
.footer-newsletter-disclaimer-span-3 {
  font-size: calc(12 * var(--ratio));

  line-height: calc(18 * var(--ratio));

  font-family: Roboto;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}
.footer-newsletter-disclaimer-span-2 {
  font-size: calc(12 * var(--ratio));

  line-height: calc(18 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: underline;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}
.footer-bottom {
  width: 88.89%;
  height: 10.27%;
  top: 77.15%;
  left: 5.56%;
  z-index: 1;
  transform: rotate(0deg);
}
.footer-divider {
  width: 100%;
  height: 2.04%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  background: #ffffffff;
  box-sizing: border-box;
  border-left: 1px solid #ffffffff;
  border-right: 1px solid #ffffffff;
  border-top: 1px solid #ffffffff;
  border-bottom: 1px solid #ffffffff;
}
.footer-bottom-content {
  width: 100%;
  height: 48.98%;
  top: 51.02%;
  left: 0%;
  z-index: 1;
  transform: rotate(0deg);
}
.footer-copyright {
  width: 52.19%;
  height: 87.5%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
}
.footer-copyright-text {
  width: 40.42%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.footer-legal-links {
  width: 55.99%;
  height: 100%;
  top: 0%;
  left: 44.01%;
  z-index: 1;
  transform: rotate(0deg);
}
.footer-privacy-policy {
  width: 25.4%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.footer-terms-of-service {
  width: 30.75%;
  height: 100%;
  top: 0%;
  left: 31.82%;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.footer-cookies-settings {
  width: 31.02%;
  height: 100%;
  top: 0%;
  left: 68.98%;
  z-index: 2;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.footer-social-icons {
  width: 17.47%;
  height: 100%;
  top: 0%;
  left: 82.53%;
  z-index: 1;
  transform: rotate(0deg);
}
.footer-social-icon-facebook {
  width: 9.37%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-I29326884_29319905 {
  opacity: 1;
  background-image: var(--image-15);
}
.footer-social-icon-facebook-alt {
  width: 10.73%;
  height: 100%;
  top: 0%;
  left: 34.41%;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-I29326884_29319911 {
  opacity: 1;
  background-image: var(--image-16);
}
.footer-social-icon-linkedin {
  width: 10.73%;
  height: 100%;
  top: 0%;
  left: 52.3%;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-I29326884_29319913 {
  opacity: 1;
  background-image: var(--image-17);
}
.footer-social-icon-x {
  width: 11.92%;
  height: 100%;
  top: 0%;
  left: 70.19%;
  z-index: 4;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-I29326884_29319915 {
  opacity: 1;
  background-image: var(--image-18);
}
.footer-social-icon-instagram {
  width: 10.73%;
  height: 100%;
  top: 0%;
  left: 89.27%;
  z-index: 5;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-I29326884_29319917 {
  opacity: 1;
  background-image: var(--image-19);
}
.footer-social-icon-twitter {
  width: 10.73%;
  height: 70.21%;
  top: 14.89%;
  left: 16.53%;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-I29326884_29319909 {
  opacity: 1;
  background-image: var(--image-20);
}
